html { overflow: hidden; }
body { font-family: 'Calibri', sans-serif; line-height: 1; font-size: 48px; }

.title {
    text-transform: lowercase;
    font-size: 96px;
}

.subtitle {
    text-transform: lowercase;
    text-align: left;
    color: dimgrey;
    font-size: 64px;
    margin-top: -40px;
}

.author {
    text-align: right;
    color: darkslategrey;
    font-size: 36px;
}

.background {
}

.step {
    text-align: left;
    width: 1000px;
    padding: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    -webkit-transition: opacity 1s, -webkit-transform 0.5s;
    -moz-transition:    opacity 1s, -moz-transform 0.5s;
    -ms-transition:     opacity 1s, -ms-transform 0.5s;
    -o-transition:      opacity 1s, -o-transform 0.5s;
    transition:         opacity 1s, transform 0.5s;

    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    -ms-transform: translatey(0px);
    -o-transform: translatey(0px);
    transform: translatey(0px);

    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */

    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1px;
}

.step.wide {
    width: 1200px;
}

.step.narrow {
    width: 800px;
}

.step.future:not(.always):not(.overwriting) { opacity: 0.0; }
.step.future.overwriting { opacity: 0.0; }
.step.past:not(.always):not(.overwritten):not(.overwriting) { opacity: 0.2; }
.step.past.overwritten { opacity: 0.0; }
.step.past.overwriting { opacity: 1.0 }
.step.always { opacity: 1.0 }

/*
.step.future:not(.always):not(.overwriting) { opacity: 1.0; }
.step.future.overwriting { opacity: 1.0; }
.step.past:not(.always):not(.overwritten):not(.overwriting) { opacity: 1.0; }
.step.past.overwritten { opacity: 1.0; }
.step.past.overwriting { opacity: 1.0 }
.step.always { opacity: 1.0 }
*/

.transparent {
    display: block;

    width: 1000px;
    height: 1000px;
    padding: 40px 40px;

    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1px;
}

.slide {
    display: block;

    width: 1000px;
    height: 1000px;
    padding: 40px 40px;

    background-color: whitesmoke;
    border: 3px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;
}

.embedded {
    display: block;

    width: 1000px;
    height: 1000px;
    padding: 40px 40px;

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;
}

.drop-shadow {
    box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 5px 5px 5px #666;
    padding-left: 2px;
    padding-right: 2px;
}

.striked {
    text-decoration: line-through;
}

.lv0-indent{
    margin-left: 30px;
}

.lv1-indent{
    margin-left: 60px;
}

.lv2-indent{
    margin-left: 120px;
}

ul {
    padding: 0px;
    margin-left: 0px;
}

ul li {
    margin-left: 120px;
}

ul.gain span {
}

ul.pain span {
}

.yellow-highlight {
    background-color: rgba(255, 255, 0, .5);
}

.green-highlight {
    background-color: rgba(0, 255, 0, .5);
}

.orange-highlight {
    background-color: rgba(255, 128, 0, .5);
}

.red-highlight {
    background-color: rgba(255, 0, 0, .5);
}

.blue-highlight {
    background-color: rgba(0, 255, 255, .5);
}

.purple-highlight {
    background-color: rgba(255, 0, 128, .5);
}

.blue-block {
    font-style: italic;
    display: block;
    background-color: powderblue;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.green-block {
    font-style: italic;
    display: block;
    background-color: palegreen;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.orange-block {
    font-style: italic;
    display: block;
    background-color: lightsalmon;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.yellow-block {
    font-style: italic;
    display: block;
    background-color: gold;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.grey-block {
    font-style: italic;
    display: block;
    background-color: lightgray;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.bigger-margins {
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 15px;
    margin-right: 15px;
}

.bigger-padding {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.pulled-center {
    display: block;
    text-align: center;
}

.pulled-right {
    display: block;
    text-align: right;
    float: right;
    clear: both;
    right: 0%;
}

.pulled-left {
    display: block;
    text-align: left;
}

.comment {
    color: lightslategrey;
    font-style: italic;
}

.very-large {
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -1px;
}

.large {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1px;
}

.medium {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;
}

.small {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1px;
}

.very-small {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1px;
}

.block {
    text-align: left;
    letter-spacing: normal;
    font-stretch: ultra-condensed;
    font-weight: 100;
    text-align: left;

    position: relative;
    display: table-cell;
    vertical-align: top;

    margin-left: 25%;
    margin-right: 25%;

    padding-left: 25%;
    padding-right: 25%;
}

.top-left {
    position: absolute;
    top: 15%;
    left: 15%;
}

.oob-top-left {
    position: absolute;
    top: -5%;
    left: -5%;
}

.top-right {
    position: absolute;
    top: 15%;
    right: 15%;
}

.bottom-left {
    position: absolute;
    bottom: 15%;
    left: 15%
}

.bottom-right {
    position: absolute;
    bottom: 15%;
    right: 15%;
}

#cycle {
    background-image: url('cycle.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 75%;
}